body {
  background: #ffeccc !important;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif !important;
}

.card-container {
  min-height: 100vh;
  background: #ffeccc !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-card {
  width: 25rem;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff !important;
}

.navbar-brand {
  color: #ffffff !important;
  cursor: pointer;
}

.quiz-answer {
  transition: background-color 0.3s ease-in-out;
}

.quiz-answer:hover {
  cursor: pointer;
  background: #e1e1e1;
}

.bg-success,
.bg-danger {
  color: white;
}

#end-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

#end-screen img {
  width: 100px;
  margin-bottom: 10px;
}

#end-screen a {
  text-decoration: none;
  margin-top: 20px;
  font-weight: bold;
}
.scrore {
  margin-bottom: 10px;
}

.scrore span {
  color: #edbd2f;
  font-weight: bold;
  margin-right: 10px;
}

#end-screen {
  height: 410px !important;
}

.letter {
  margin-right: 50px;
  font-weight: bold;
  background-color: rgb(216, 216, 216);
  padding: 10px 15px;
  color: black;
}

.nav-image {
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 60px;
}

.nav {
  border-radius: 15px 0 0 15px;
}

.nav a {
  text-align: center;
  color: #fff;
  font-weight: bold;
  transition: all 225ms ease-in-out;
  border-left: 4px solid transparent;
}

.nav a:hover {
  transition: all 225ms ease-in-out;
  border-left: 4px solid #fff;
}

#welcome-message {
  height: 500px !important;
}

.welcome-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.start-btn {
  all: unset;
  background-color: #ffa500;
  padding: 10px 25px;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  bottom: 10%;
  right: 10%;
  cursor: pointer;
}

.center-text {
  text-align: center;
}

@media (min-width: 270px) and (max-width: 428px) {
  .letter {
    display: none;
  }
  .card-title {
    font-size: 15px;
  }
}
